#magenticians-launcher-toolbar {
    display: inline-block;
    font-weight: bold;
    font-size: 31px;
    margin-top: -3px;
    float: right;
}
#magenticians-launcher-toolbar > a {
    color: #41362f !important; /** temporarily important because module-sequence doesn't seem to be working */
}
#magenticians-launcher-toolbar > a:hover {
    text-decoration: none !important;
}
#magenticians-launcher-dialog {
    display: none;
}
#magenticians-launcher-input {
    width: 100%;
}