#magenticians-launcher-toolbar {
    display: inline-block;
    font-weight: bold;
    font-size: 31px;
    vertical-align: top;
}
#magenticians-launcher-toolbar > a {
    color: #fff;
}
#magenticians-launcher-toolbar > a:hover {
    color: #ccc;
    text-decoration: none;
}
#magenticians-launcher-dialog {
    display: none;
}
#magenticians-launcher-input {
    width: 100%;
}